<div class="book-wrap">

  <h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <span class="errors">
      <%= @book.errors.count %>
        <% if @book.errors.count==1 %>
          <span>error prohibited this book from being saved:</span>
        <% else %>
          <span>errors prohibited this book from being saved:</span>
        <% end %>
    </span>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


  <%=form_with model:@book, url:book_path(@book.id),method: :patch do|f|%>
    <div class="new-book">
      <p>Title</p>
      <%= f.text_field:title %>
      <p>Body</p>
      <%=f.text_area :body %>
    </div>

    <div class="new-book">
      <%=f.submit'Update Book'%>
    </div>
  <%end%>

  <div class="new-book">
    <%= link_to 'Show',"/books/#{@book.id}" %>
     <span>|</span>
    <%= link_to 'Back','/books' %>
  </div>

</div>
